{% load react %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <style>
        body {
            margin-top: 100px;
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        }
        .nav {
            position: fixed;
            background: #333;
            top: 0;
            left: 0;
            color: #efefef;
            width: 100vw;
            padding: 1rem;
        }
        .container {
            padding: 1rem;
        }
        .navbar-header, .navbar-header:hover, .navbar-header:visited {
            text-decoration: none;
            color: #efefef;
        }
    </style>
</head>
<body>
<nav class="nav">
    <a class="navbar-header" href="{% url 'home' %}"><h2>Example Site: <small>static header</small></h2></a>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
